

{{ range split .Inner "<===>" }}
  {{ $q_and_a := split . "<--->" }}
  {{ $question := index $q_and_a 0 }}
  {{ $answer := index $q_and_a 1 }}
  <details>
    <summary>{{ $question }}</summary>
    <div class="markdown-inner">
      {{ $answer | markdownify }}
    </div>
  </details>
{{ end }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {{ $qa_list := split .Inner "<===>" }}
    {{ range first 1 $qa_list }}
      {{ $q_and_a := split . "<--->" }}
      {{ $question := index $q_and_a 0 }}
      {{ $question = trim $question "\r\n" }}
      {{ $answer := index $q_and_a 1 }}
      {{ $answer = trim $answer "\r\n" }}
      {
        "@type": "Question",
        "name": {{$question}},
        "acceptedAnswer": {
          "@type": "Answer",
          "text": {{$answer | markdownify}}
        }
      }
    {{ end }}
    {{ range after 1 $qa_list }}
      {{ $q_and_a := split . "<--->" }}
      {{ $question := index $q_and_a 0 }}
      {{ $question = trim $question "\r\n" }}
      {{ $answer := index $q_and_a 1 }}
      {{ $answer = trim $answer "\r\n" }}
      ,{
        "@type": "Question",
        "name": {{$question}},
        "acceptedAnswer": {
          "@type": "Answer",
          "text": {{$answer | markdownify}}
        }
      }
    {{ end }}
    ]
  }
</script>
