{{ $name := .Get 0 }}
{{ $id := substr (md5 $name) 0 16 }}

<link rel="stylesheet" href="/css/grid.css" />
<script src="/js/grid.js" type="module"></script>

<div class="container ml-auto text-center">
  <div class="btn-group flex-wrap" role="group" id="buttons-{{$id}}">
    {{ range .Page.Params.grid.filters }}
    <a type="button" class="book-btn grid-button" data-filter="{{ . }}">
      {{ . }}
    </a>
    {{ end }}
  </div>
</div>
<div  id="grid-{{$id}}" data-slot="{{.Page.Params.grid.slot}}" >
  {{ $counter := 0 }} 
  {{ $items := .Page.Params.grid.items }} 
  {{ range split .Inner "<--->" }}
  {{ $name := (index $items $counter).name }}
  {{ $width := (index $items $counter).width }}
  {{ $tags := delimit (index $items $counter).tags "," }}
  {{ $counter = add $counter 1 }} 
    <div class="grid-child card markdown-inner" data-tags="{{ $tags }}" data-width="{{ $width }}" >
      <h2 class="card-title text-center">{{ $name }}</h2>
    {{ . | markdownify }}
  </div>
  {{ end }}
</div>
<script type="module">
  import {defined} from "/js/web-js-utils.js"
  import {Grid} from "/js/grid.js"
  function get_custom_div_props(){
      return {
          width:Math.round(Math.random()*200)+100,
          height : Math.round(Math.random()*200)+100,
          r : 150,
          g : Math.round(Math.random()*155)+100,
          b : Math.round(Math.random()*155)+100
      }
  }
  let main_div = document.getElementById("grid-{{$id}}");
  let grid = new Grid(main_div,main_div.getAttribute("data-slot"))
  var items = main_div.childNodes;
  for(let i=0; i<items.length; i++) {
    let item = items[i]
      if ((defined(item.hasAttribute)) && (item.classList.contains("grid-child"))) {
        grid.set_div(item);
      }
  }

  let buttons_bar = document.getElementById("buttons-{{$id}}");

  let buttons = buttons_bar.getElementsByClassName("book-btn");
  for(let i=0; i<buttons.length; i++) {
    let button = buttons[i]
    button.addEventListener("click",(e)=>{
        let filter = e.target.getAttribute("data-filter")
        let main_div = document.getElementById("grid-{{$id}}");
        var items = main_div.getElementsByClassName("grid-child");
        for(let i=0; i<items.length; i++) {
          let item = items[i]
          if(filter == "All"){
            item.classList.remove("grid-hidden")
          }else{
            if(item.hasAttribute("data-tags")){
              if(item.getAttribute("data-tags").split(',').includes(filter)){
                item.classList.remove("grid-hidden")
                //console.log(`found ${filter} => ${item.getAttribute("data-tags")}`)
              }else{
                item.classList.add("grid-hidden")
                //console.log(`no ${filter} in (${item.getAttribute("data-tags")})`)
              }
            }else{
              item.classList.add("grid-hidden")
              //console.log(`no ${filter} as no tags`)
            }
          }
        }
    })
  }

  grid.apply()

</script>
