{{ $name := .Get 0 }}
{{ $id := substr (md5 $name) 0 16 }}

<link rel="stylesheet" href="/css/grid.css" />
<script src="/js/grid.js" type="module"></script>

<div class="container ml-auto text-center">
  <div class="btn-group flex-wrap grid-buttons-bar" role="group" id="buttons-{{$id}}" data-selection="">
    {{ range .Page.Params.grid.filters }}
    <a  type="button" 
        class="book-btn grid-button {{ cond (eq . "All") "selected" "" }}" 
        data-filter="{{ . }}"
      >
      {{ . }}
    </a>
    {{ end }}
  </div>
</div>
<div  id="grid-{{$id}}" 
      class="grid"
      data-scale="1"
      data-side-min="{{.Page.Params.grid.slot}}" 
      >
  {{ $counter := 0 }} 
  {{ $items := .Page.Params.grid.items }} 
  {{ range split .Inner "<--->" }}
    {{ $name := (index $items $counter).name }}
    {{ $width := (index $items $counter).width }}
    {{ $tags := delimit (index $items $counter).tags "," }}
    {{ $counter = add $counter 1 }} 
      <div  class="card markdown-inner" 
            data-tags="{{ $tags }}" 
            data-width="{{ $width }}"
            data-height="150"
            >
        <h2>{{ $name }}</h2>
      {{ . | markdownify }}
    </div>
  {{ end }}
</div>
<script type="module">
  import {defined} from "/js/web-js-utils.js"
  import {Grid} from "/js/grid.js"
  let grid_div = document.getElementById("grid-{{$id}}");
  let grid = new Grid(grid_div);
  grid_div.querySelectorAll(".card").forEach((item)=>{
    grid.scale_card(item);
  })
  grid.apply()

  let buttons_bar = document.getElementById("buttons-{{$id}}");

  buttons_bar.querySelectorAll(".grid-button").forEach((button)=>{
    button.addEventListener("click",(e)=>{
        let filter = e.target.getAttribute("data-filter");
        let grid_div = document.getElementById("grid-{{$id}}");

        if(!e.shiftKey){//clear everything
          buttons_bar.querySelectorAll(".grid-button").forEach((button)=>{
            button.classList.remove("selected")
          });
        }
        //current pressed button
        if(e.target.classList.contains("selected")){
          if((e.shiftKey)){
            e.target.classList.remove("selected")
          }
        }else{
          e.target.classList.add("selected")
        }


        //construct selection
        let selection_list = []
        buttons_bar.querySelectorAll(".grid-button").forEach((button)=>{
            if(button.classList.contains("selected")){
              selection_list.push(button.getAttribute("data-filter"));
            }
        });
        if(selection_list.length == 0){
          selection_list.push("All");//empty array makes no sense => reset
          buttons_bar.querySelectorAll(".grid-button").forEach((button)=>{
            if(button.getAttribute("data-filter") == "All"){
              button.classList.add("selected");
            }
          });
        }
        //Apply selection
        grid_div.querySelectorAll(".card").forEach((card)=>{
          if(selection_list.includes("All")){
            card.classList.remove("grid-hidden")
          }else{
            if(card.hasAttribute("data-tags")){
              let tags_list = card.getAttribute("data-tags").split(',');
              if(tags_list.some(r=>selection_list.includes(r))){
                card.classList.remove("grid-hidden")
                //console.log(`found ${filter} => ${card.getAttribute("data-tags")}`)
              }else{
                card.classList.add("grid-hidden")
                //console.log(`no ${filter} in (${card.getAttribute("data-tags")})`)
              }
            }else{
              card.classList.add("grid-hidden")
              //console.log(`no ${filter} as no tags`)
            }
          }
        })
    })
  })

</script>
