{{ $src := .Get 0 }}
{{ $id := substr (md5 $src) 0 16 }}
{{ $base := path.Base $src }}
{{ $sname := index (split $base ".") 0 }}
{{ $name := replace $sname " " "_" }}

<div class="container">
  <div class="row">
      <div class="col text-center">
          <a id="btn-{{$name}}" class="book-btn" role="button" >Full Screen</a>
      </div>
</div>
<embed id="svg-{{$name}}" type="image/svg+xml" width=100% src="{{$src}}" {{with .Get 1 }} style="background-color:{{.}}"{{ end }}/>
<script type="module">
  import {setup_svg_panzoom,reset_svg_panzoom} from "/js/setup-svg-pan-zoom.js"
  function window_reset_position(){
    reset_svg_panzoom("{{$name}}")
  }
  console.log(`into script for {{$name}}`)
  //document.getElementById("svg-{{$name}}").addEventListener('load', setup_svg_panzoom)
  
  window.addEventListener('load', ()=>{
    let embed = document.getElementById("svg-{{$name}}")
    setup_svg_panzoom(embed)
  })
  window.addEventListener('resize', window_reset_position)
 </script>
